<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hockey Central.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09B9A28B1BD1FA71004DD926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B9A29F1BD1FA71004DD926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B9A2AA1BD1FA71004DD926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
